{{- $realmName := tpl .Values.realm.name $ }}
{{- $realmResourceName := printf "%s-%s--realm" $realmName .Release.Namespace }}

{{- range $role := .Values.roles }}
{{- $roleName := tpl $role.forProvider.name $ | required "$role.*.forProvider.name is required" }}
{{- $roleDescription := $role.forProvider.description | required (printf "$role.%s.description is required" $role.name) }}

---
apiVersion: role.keycloak.m.crossplane.io/v1alpha1
kind: Role
metadata:
  name: "{{ $realmName }}--{{ $role.name }}--{{ .Release.Namespace }}"
  namespace: "{{ .Release.Namespace }}"
spec:
  providerConfigRef: {{- pick (required ".Values.providerConfig is required" .Values.providerConfig) "name" "kind" | toYaml | nindent 4}}
  forProvider:
    realmIdRef:
      name: "{{ $realmResourceName }}"
      namespace: "{{ .Release.Namespace }}"
    {{- tpl ($role.forProvider | toYaml) $ | nindent 4 }}
{{- end }}
