{{- $realmName := tpl .Values.realm.name $ | required ".Values.realm.name is required" }}
---
apiVersion: realm.keycloak.m.crossplane.io/v1alpha1
kind: Realm
metadata:
  name: "{{ $realmName }}--realm"
  namespace: "{{ .Release.Namespace }}"
spec:
  providerConfigRef: {{- pick (required ".Values.providerConfig is required" .Values.providerConfig) "name" "kind" | toYaml | nindent 4}}
  forProvider:
    realm: "{{ $realmName }}"
    {{- tpl (.Values.realm.forProvider | toYaml) $ | nindent 4 }}
