{{- if .Values.userFederation.ldap.enabled }}
{{- $realmName := tpl .Values.realm.name $ }}
{{- $realmResourceName := $realmName | printf "%s--realm" }}
{{- $userFederationName := .Values.userFederation.ldap.name }}
{{- $userFederationResourceName := printf "%s--%s" (tpl .Values.realm.name $) $userFederationName }}
---
apiVersion: ldap.keycloak.m.crossplane.io/v1alpha1
kind: UserFederation
metadata:
  name: "{{ $userFederationResourceName }}"
  namespace: "{{ .Release.Namespace }}"
spec:
  providerConfigRef: {{- pick (required ".Values.providerConfig is required" .Values.providerConfig) "name" "kind" | toYaml | nindent 4}}
  forProvider:
    realmIdRef:
      name: "{{ $realmResourceName }}"
      namespace: "{{ .Release.Namespace }}"
    {{- tpl (.Values.userFederation.ldap.forProvider | toYaml) $ | nindent 4 }}
{{- range $mapper := .Values.userFederation.ldap.mappers.userAttributeMappers }}
---
apiVersion: ldap.keycloak.m.crossplane.io/v1alpha1
kind: UserAttributeMapper
metadata:
  name: "{{ $realmName}}--{{ $userFederationName }}-{{ $mapper.name }}"
  namespace: "{{ .Release.Namespace }}"
spec:
  providerConfigRef: {{- pick (required ".Values.providerConfig is required" .Values.providerConfig) "name" "kind" | toYaml | nindent 4}}
  forProvider:
    realmIdRef:
      name: "{{ $realmResourceName }}"
      namespace: "{{ .Release.Namespace }}"
    ldapUserFederationIdRef:
      name: "{{ $userFederationResourceName }}"
    {{- tpl ($mapper.forProvider | toYaml) $ | nindent 4 }}
{{- end }}
{{- range $mapper := .Values.userFederation.ldap.mappers.hardcodedAttributeMappers }}
---
apiVersion: ldap.keycloak.m.crossplane.io/v1alpha1
kind: HardcodedAttributeMapper
metadata:
  name: "{{ $realmName}}--{{ $userFederationName }}-{{ $mapper.name }}"
  namespace: "{{ .Release.Namespace }}"
spec:
  providerConfigRef: {{- pick (required ".Values.providerConfig is required" .Values.providerConfig) "name" "kind" | toYaml | nindent 4}}
  forProvider:
    realmIdRef:
      name: "{{ $realmResourceName }}"
      namespace: "{{ .Release.Namespace }}"
    ldapUserFederationIdRef:
      name: "{{ $userFederationResourceName }}"
    {{- tpl ($mapper.forProvider | toYaml) $ | nindent 4 }}
{{- end }}
{{- end }}
