apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nodejs.fullname" . }}
  labels:
{{ include "nodejs.labels" . | indent 4 }}
data:
  configuration: |
{{ toJson .Values.configuration | indent 4 }}
