{{- if .Values.backend.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backstage.fullname" . }}-backend

spec:
  replicas: {{ .Values.backend.replicaCount }}

  selector:
    matchLabels:
      app: backstage
      component: backend

  template:
    metadata:
      annotations:
        ad.datadoghq.com/backstage.logs: '[{"source":"backstage","service":"backend"}]'
        checksum/config: {{ toJson .Values.appConfig | sha256sum }}
      labels:
        app: backstage
        component: backend

    spec:
      {{- if .Values.dockerRegistrySecretName }}
      imagePullSecrets:
        - name: {{ .Values.dockerRegistrySecretName }}
      {{- end}}
      containers:
        - name: {{ .Chart.Name }}-backend
          image: {{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.containerPort }}
          resources:
          {{- toYaml .Values.backend.resources | nindent 12 }}
          {{- if .Values.envSecret }}
          envFrom:
            - secretRef:
                name: {{ .Values.envSecret }}
          {{- end }}
          env:
            - name: NODE_ENV
              value: {{ .Values.backend.nodeEnv | default "development" }}
          volumeMounts:
            - name: app-config
              mountPath: {{ printf "%s/app-config.local.yaml" .Values.backend.appDirectory }}
              subPath: app-config.local.yaml
            {{- range $idx, $cfg := .Values.backend.secretMounts }}
            - name: app-secret-{{ $idx }}
              mountPath: {{ $cfg.mountPath }}
              readOnly: true
            {{- end }}

      volumes:
        - name: app-config
          configMap:
            name: {{ include "backstage.fullname" . }}-app-config
        {{- range $idx, $cfg := .Values.backend.secretMounts }}
        - name: app-secret-{{ $idx }}
          secret:
            secretName: {{ $cfg.name }}
        {{- end }}

      {{- if .Values.global.nodeSelector }}
      nodeSelector: {{- toYaml .Values.global.nodeSelector | nindent 8 }}
      {{- end }}
{{- end }}