{{- if .Values.frontend.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "frontend.serviceName" . }}
spec:
  ports:
    - port: 80
      targetPort: {{ .Values.frontend.containerPort }}
  selector:
    app: backstage
    component: frontend
  type: ClusterIP
{{- end }}
