{{- if .Values.frontend.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backstage.fullname" . }}-frontend

spec:
  replicas: {{ .Values.frontend.replicaCount }}

  selector:
    matchLabels:
      app: backstage
      component: frontend

  template:
    metadata:
      annotations:
        ad.datadoghq.com/backstage.logs: '[{"source":"backstage","service":"frontend"}]'
        checksum/config: {{ toJson .Values.appConfig | sha256sum }}
      labels:
        app: backstage
        component: frontend

    spec:
      {{- if .Values.dockerRegistrySecretName }}
      imagePullSecrets:
        - name: {{ .Values.dockerRegistrySecretName }}
      {{- end}}
      containers:
        - name: {{ .Chart.Name }}-frontend
          image: {{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.frontend.containerPort }}
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
          envFrom:
            - configMapRef:
                name: {{ include "backstage.fullname" . }}-app-env
          {{- if .Values.envSecret }}
            - secretRef:
                name: {{ .Values.envSecret }}
          {{- end }}
          volumeMounts:
            - name: app-config
              mountPath: {{ printf "%s/app-config.local.yaml" .Values.frontend.appDirectory }}
              subPath: app-config.local.yaml
      volumes:
        - name: app-config
          configMap:
            name: {{ include "backstage.fullname" . }}-app-config
      {{- if .Values.global.nodeSelector }}
      nodeSelector: {{- toYaml .Values.global.nodeSelector | nindent 8 }}
      {{- end }}
{{- end }}