apiVersion: v1
kind: Secret
type: kubebernetes.io/basic-auth
metadata:
  name: migrations
  namespace: {{ .Release.Namespace }}
  labels:
    cnpg.io/reload: "true"
data:
  username: {{ .Values.database.migrations.username | b64enc | quote }}
  password: {{ .Values.database.migrations.password | b64enc | quote }}
  hostname: {{ .Values.database.migrations.hostname | b64enc | quote }}
  connection: {{ include "database.migrations" . | b64enc | quote }}

---

apiVersion: v1
kind: Secret
type: kubebernetes.io/basic-auth
metadata:
  name: connection
  namespace: {{ .Release.Namespace }}
  labels:
    cnpg.io/reload: "true"
data:
  username: {{ .Values.database.connection.username | b64enc | quote }}
  password: {{ .Values.database.connection.password | b64enc | quote }}
  hostname: {{ .Values.database.connection.hostname | b64enc | quote }}
  PGRST_DB_URI: {{ include "database.connection" . | b64enc | quote }}

---

apiVersion: v1
kind: Secret
metadata:
  name: keyserver
  namespace: {{ .Release.Namespace }}
data:
  PGRST_CLIENT_KEY: {{ .Values.keyserver.api.key | b64enc | quote }}

---

